@import "./aa-theme.css";

.center {
	display: flex;
	justify-content: center;
}

.navBar {
	color: white;
	margin-bottom: 0px;
	flex-wrap: wrap;
}
.navTab {
	/* spacing */
	margin: 10px 10px;
	padding: 10px 19px 10px 17px;
	height: 25px;
	/*attr*/
	background-color: var(--darkGray);
	user-select: none;
	border-radius: 4px 4px 0px 0px;
	border-bottom: 2px solid var(--white);
	transition: all 0.2s;
}
.active1 {
	background-color: var(--dark);
	margin-top: 10px;
}
.navTab:hover {
	box-shadow: 0px 0px 35px var(--highlight);
}
.pageContainer1 {
	margin: 0px 20px;
}
.pageContainer1 > * {
	display: flex;
	justify-content: center;
}
.searchBar1 {
	/*spacing*/
	display: flex;
	justify-content: center;
	width: 30%;
	margin: auto;
	margin-top: 20px;
	padding: 5px 12px;
	/*text*/
	color: var(--white);
	/*attr*/
	background-color: var(--lightGray);
	border: 1px solid var(--black);
	border-radius: 9px;
}
.searchBar1:focus {
	background-color: var(--debug);
	border: 1px solid var(--highlight);
	outline: 0px;
}
.cardContainer {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	overflow: auto;
	padding-top: 15px;
}
.card {
	/*spacing*/
	float: left;
	padding: 13px;
	width: fit-content;
	height: fit-content;
	margin: 16px 3px;
	/*display*/
	display: flex;
	flex-direction: column;
	align-items: center;
	/*attr*/
	border-bottom: 1px solid var(--gray);
	user-select: none;
	transition: all 0.3s;
}
.card:hover {
	box-shadow: 0px 0px 45px var(--dark);
	color: var(--main);
	text-decoration: underline;
}
.cardImage {
	width: fit-content;
	height: 150px;
}

.songInfoContainer {
	display: flex;
	flex-direction: row;
	margin-top: 10px;
	margin-bottom: 5px;
}
.songInfoImage {
	width: 200px;
}
.details {
	margin-left: 20px;
	height: auto;
}
.details > p {
	padding-top: 16%;
	border-bottom: 1px solid var(--gray);
}

.tabContainer {
	/*spacing*/
	display: block;
	margin-top: 5px;
	margin-bottom: 45px;
	padding: 7px 20px;
	overflow-x: auto;
	/*text*/
	font-family: "Courier New", Courier, monospace;
	font-size: 30px;
	/*attr*/
	background-color: var(--mainA);
	border-radius: 10px;
}
.tabContainer > p {
	width: max-content;
}

/*scroll bar*/
/* width */
::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	border-radius: 10px;
}
::-webkit-scrollbar-track:hover {
	background-color: var(--darkGray);
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: var(--gray);
	border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: var(--lightGray);
}

/* component restructure end */

.pageContainer {
	display: flex;
	flex-direction: column;
	margin: 0px 1%;
	font-size: 17px;
	height: 80%;
	overflow: auto;
}

.page {
	/*spacing*/
	padding: 10px 19px 10px 17px;
	margin: 0px 10px;
	height: 25px;
	float: left;
	/*attr*/
	background-color: var(--darkGray);
	user-select: none;
	border-radius: 4px 4px 0px 0px;
	border-bottom: 2px solid var(--white);
}
.page:hover {
	box-shadow: 0px 0px 50px var(--dark);
}
.active {
	background-color: var(--dark);
	margin-top: 0px;
}

.pageWindow {
	padding: 10px;
	margin: auto;
	margin-top: 10px;
	color: var(--white);
	border-radius: 5px;
}
.pageWindow > * {
	display: flex;
	justify-content: center;
	margin: auto;
	flex-wrap: wrap;
}

.defaultPage {
	display: flex;
	flex-direction: column;
	padding: 10px;
	margin-top: 10px;
	color: var(--white);
	border-radius: 5px;
}
.defaultPage > * {
	display: flex;
	justify-content: center;
}

.searchBar {
	/*spacing*/
	margin-bottom: 8px;
	padding: 5px 12px;
	/*text*/
	color: var(--white);
	/*attr*/
	background-color: var(--darkGray);
	border: 1px solid var(--black);
	border-radius: 9px;
}
.searchBar:focus {
	background-color: var(--debug);
	border: 1px solid var(--highlight);
	outline: 0px;
}

.listItem {
	padding: 13px;
	border-bottom: 1px solid var(--gray);
	width: fit-content;
	height: fit-content;
	margin: 16px 3px;
}
.listItem:hover {
	color: var(--main);
	text-decoration: underline;
	box-shadow: 0px 0px 30px var(--dark);
}
.listItemImg {
	width: 100%;
	height: 100px;
}

/*unused*/
.flatTop {
	padding-top: 0px;
	margin-top: 0px;
}
.flatBottom {
	padding-bottom: 0px;
	margin-bottom: 0px;
}
.topMargin {
	margin-top: 6px;
}
.border {
	border: 1px solid var(--white);
	padding: 10px;
}
.border:last-child {
	background-color: rgba(255, 0, 0, 0.2);
}
.noBorderRight {
	border-right: 0px;
}
.noBorderBottom {
	border-bottom: 0px;
}
