@import "./aa-theme.css";

:root {
	--borderW: 2px;
	--activeSpacing: 8px;
}

.page {
	/*spacing*/
	padding: 10px 19px 10px 17px;
	margin: 0px 10px;
	height: 25px;
	float: left;
	/*attr*/
	user-select: none;
	border-bottom: 2px solid var(--white);
}
.active {
	background-color: var(--dark);
	margin-top: 0px;
	border-radius: 4px 4px 0px 0px;
}

.pageContainer {
	display: flex;
	flex-direction: column;
	margin: 0px 1%;
	font-size: 17px;
}

.pageWindow {
	padding: 10px;
	margin-top: 10px;
	color: var(--white);
	border-radius: 5px;
}

.searchBar {
	/*spacing*/
	margin-bottom: 8px;
	padding: 5px 12px;
	/*text*/
	color: var(--white);
	/*attr*/
	background-color: var(--darkGray);
	border: 1px solid var(--black);
	border-radius: 9px;
}
.searchBar:focus {
	background-color: var(--debug);
	border: 1px solid var(--highlight);
	outline: 0px;
}
::placeholder {
	color: var(--lightGray);
}

.randomItem {
	width: 45%;
	padding: 13px;
	border-bottom: 2px solid var(--gray);
}
.randomItem:last-child {
	border-bottom: 0px;
}

/*unused*/
.flatTop {
	padding-top: 0px;
	margin-top: 0px;
}
.flatBottom {
	padding-bottom: 0px;
	margin-bottom: 0px;
}
.topMargin {
	margin-top: 6px;
}
.center {
	display: flex;
	justify-content: center;
}
.border {
	border: 1px solid var(--white);
	padding: 10px;
}
.border:last-child {
	background-color: rgba(255, 0, 0, 0.2);
}
.noBorderRight {
	border-right: 0px;
}
.noBorderBottom {
	border-bottom: 0px;
}
